.user-chat {
    background-color: rgb(195, 52, 16);
    margin: 25px;
    border-radius: 15px;
    padding: 10px;
    color: white;
    display: inline-block;
    width:50%;
    text-align: right;
    float: right;
}

.bot-chat {
    background-color: #d0c1c1;
     margin: 25px;
     border-radius: 15px;
     padding: 10px;
     display: inline-block;
     width:50%;
}

.footer {
    background-color: black;
}

.sail-boat {
    display: block;
}

.top-header {
    background-color: black;
    height: 20px;
}

.container {
    height: 175px;
    color: white;
}

.container.one {
    background-color: blue;
}

.container.two {
    background-color: green;
}

.container.three {
    background-color: orange;
}

.copy-write {
    color: white;
    text-align: center;
}

.white-text {
    color: white;
}

.grey-background {
    background-color: grey;
}

.white-background {
    background-color: white;
}

.bgi{
    background: url(../images/sailboat-459794_1280.jpg) no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.ship-container {
  height: 800px;
}

.accountHeader{
    height:100%;
    width:100%;
    background-color: #D4CFC3;
}

.accountTableHeader{
    width:20%;
    color:white;
}

.accountTableItem{
    width:20%;
    padding:5px;
}

.headerRow{
    background-color:#96151d;
    padding:10px;
}


.chat-send-btn {
    display: inline-block;
}

.chat {
     border-style: solid;
     border-width: 5px;
     border-color: white;
     background-color: rgba(0, 0, 0, 0.8);

}

.chat-window {
    width: 350px;
    height: 550px;
    overflow: auto;
}

.chart{
    width:300px;
    height:300px;
    display:block;
}

.accountHeader{
    height:100%;
    width:100%;
    background-color: #D4CFC3;
}

.accountTableHeader{
    width:20%;
    color:white;
}

.accountTableItem{
    width:20%;
    padding:5px;
}

.headerRow{
    background-color:#96151d;
    padding:10px;
}

.chat-send-btn {
    display: inline-block;
}

.chat {
     border-style: solid;
     border-width: 5px;
     border-color: white;

}

.chat-window {
     width: 350px;
     height: 350px;
}

.userChat {
    background-color: blue;
    border-radius: 25px;
    opacity: .65;
    color: white;
}

.a.userChat
.a .userChat {
    color: white;
}

.botChat {
    background-color: grey;
    border-radius: 25px;
    opacity: .90;
    color: black;
}

.chat-button {
    background-color:grey;
    opacity: .9;
}
