<div layout="column" layout-margin layout-padding class="md-whiteframe-7dp white-background">
    <h2>Account overview</h2>
    <h3>Welcome, Matthew</h3>
    <div>Last logon: 08-27-2016</div>
    <div layout-margin>
        <table>
            <thead>
            <th>Plan name</th>
            <th>Account Number</th>
            <th>Balance</th>
            </thead>
            <tr>
                <td>Voyager Retirement and Savings Plan</td>
                <td>9489494949</td>
                <td>$62,754.94</td>
            </tr>
            <tr>
                <td>Total</td>
                <td></td>
                <td>$62,754.94</td>
            </tr>
        </table>
    </div>
    <div>
        <div>
            <h3>Performance</h3>
        </div>
        <div>
            <img class='chart' src='images/fakePerformance.jpg'/>
        </div>
    </div>
</div>

