<div role="dialog" aria-label="Chat!" layout="column" layout-align="center center" class="chat" layout-padding>
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>Beacon</h2>
        </div>
    </md-toolbar>
    <div ng-controller="AppCtrl">
        <div layout="column" class="white-text chat-window" layout-padding layout-margin>
            <div ng-repeat="chat in chats">
                <div ng-if="chat.messenger === 'bot'">
                    <div class="botChat" layout-padding>
                        <a ng-href="{{chat.url}}" ng-click="ctrl.closeDialog()"ng-bind="chat.message"></a>
                    </div>
                </div>
                <div ng-if="chat.messenger === 'user'" flex-offset="25">
                    <div class="userChat" layout-padding ng-bind="chat.message"></div>
                </div>
            </div>
        </div>
        <div layout="row">
            <input class="chat-send-btn" ng-model="userChat"><md-button ng-click="addUserChat()" class="md-primary">Send</md-button>
        </div>
    </div>
    <div layout="row" class="demo-dialog-button">
        <md-button md-autofocus flex class="md-primary" ng-click="ctrl.closeDialog()">
            Close
        </md-button>
    </div>
</div>